body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #eef0f3;
    color: #333;
}

.top-bar {
    background-color: #070083;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    font-size: 12px;
}

.top-barRight {
    justify-content: right;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 20px 50px;
    color: white;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    padding: 10px 15px;
    background-color: #1e2a4a;
    border-radius: 5px;
}

.hero {
    position: relative;
    text-align: center;
    color: rgb(255, 255, 255);
}

.hero img {
    width: 85%;
    height: auto;
}

.hero button {
    background-color: #808080;
    height: 25%;
    width: 3%;
    border-radius: 100%;
}
.features {
    display: flex;
    justify-content: space-around;
    padding: 50px;
    background-color: white;
    text-align: center;
}

.feature {
    width: 30%;
}

.feature img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.feature h3 {
    font-size: 22px;
    color: #091b40;
    margin-bottom: 10px;
}

.feature button {
    background-color: #091b40;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
}

.info-sections {
    display: flex;
    justify-content: space-between;
    background-color: #05004a;
    color: white;
    padding: 50px;
}

.services, .opportunities, .news {
    width: 30%;
}

.services ul {
    list-style: none;
    padding: 0;
}

.news-item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.news-item span {
    background-color: #ff6600;
    color: white;
    padding: 8px 12px;
    margin-right: 15px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 3px;
}

button {
    color: white;
    background-color: #0b204d;
    margin-top: 15px;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    border-radius: 5px;
}

footer {
    background-color: #0b204d;
    color: white;
    text-align: left;
    padding: 15px;
    font-size: 14px;
}
